/* Template styling */

html,
body {
  margin: 0;
}

body {
  background: url("../images/photo-1620641788421-7a1c342ea42e.avif") repeat;
  font-family: "Roboto", sans-serif;
}

div#app {
  display: grid;
  max-width: 1400px;
  margin: 0 auto;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "header header header"
    "menu menu menu"
    "container container container"
    "footer footer footer";
  min-height: 100vh;
}

header {
  grid-area: header;
  height: 200px;
  background: url("../images/1_gtNsG-pHDrCIm20_ouAQNQ\ \(1\).gif");
}

nav {
  grid-area: menu;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.692);
  font-size: 1.75em;
  line-height: 60px;
  padding: 20px;
  color: white;
  display: flex;
}

nav a {
  color: rgb(95, 191, 255);
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  color: rgb(198, 115, 247);
}

#container {
  grid-area: container;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
}

footer {
  grid-area: footer;
  padding: 10px;
  text-align: center;
  color: #ccc;
}

.hidden {
  display: none;
}

a.active {
  color: white;
  font-weight: bold;
}

input#search {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: 1px solid rgba(69, 182, 171, 0.438);
  border-radius: 4px;
  height: 24px;
  flex: 1 0;
  margin: auto;
  height: 40px;
  outline: none;
}

span.favorite {
  padding-left: 10px;
  cursor: pointer;
}

span.favorite.active {
  color: rgb(255, 0, 149);
}

span.favorite:hover {
  color: rgb(187, 135, 255);
}

/* End template styling */

/* Add your styles below */

/* Trending page (home page) */
.trendingContainer img {
  width: 300px;
  height: 300px;
  cursor: pointer;
  border-radius: 11px;
}
.trendingContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 30px;
  justify-content: center;
}

.trending {
  font-size: 30px;
  text-shadow: 2px -2px 2px tan;
}
.trending i {
  padding: 15px;
  color: aquamarine;
}

/* Giphy details */

.divDetails {
  display: none;
  height: 250px;
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(32, 30, 30, 0.547);
  border: 3px solid black;
  z-index: 1000000;
  backdrop-filter: blur(10px);

  font-size: 18px;
  border: none;
  border-radius: 5px;
  color: aquamarine;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.617);
}
.divDetails img {
  float: left;
  width: 250px;
  height: 250px;
  padding-right: 15px;
}

.divDetails h3 {
  text-align: center;
}

#name {
  font-weight: bold;
  color: rgb(64, 113, 140);
  font-size: 22px;
}

.divDetails a {
  text-decoration: none;
  color: aquamarine;
  cursor: pointer;
}
