html,
body {
  margin: 0;
}

body {
  background: url("../images/photo-1620641788421-7a1c342ea42e.avif") repeat;
  font-family: "Roboto", sans-serif;
}

div#app {
  display: grid;
  max-width: 1400px;
  margin: 0 auto;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "header header header"
    "menu menu menu"
    "container container container"
    "footer footer footer";
  min-height: 100vh;
}

header {
  grid-area: header;
  height: 200px;
  background: url("../images/Header.gif") no-repeat;
  background-size: 100% 100%;
  border-bottom: 3px solid rgba(236, 233, 240, 0.135);
}

nav {
  grid-area: menu;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.692);
  font-size: 1.75em;
  line-height: 60px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  gap: 11px;
}

nav a {
  place-content: center;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #1f4c65;
}

nav a:hover {
  background: rgb(2, 29, 78);
  background: linear-gradient(
    270deg,
    rgba(2, 29, 78, 0.681) 0%,
    rgba(31, 215, 232, 0.873) 60%
  );
  color: rgb(4, 4, 38);
}

#container {
  grid-area: container;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
}

footer {
  grid-area: footer;
  padding: 10px;
  text-align: center;
  color: #ccc;
}

.hidden {
  display: none;
}

a.active {
  background: rgb(2, 29, 78);
  background: linear-gradient(
    270deg,
    rgba(2, 29, 78, 0.681) 0%,
    rgba(31, 215, 232, 0.873) 60%
  );
  color: rgb(4, 4, 38);
}

/* Trending page (home page) */
.trendingContainer img {
  width: 300px;
  height: 300px;
  cursor: pointer;
  border-radius: 11px;
}
.trendingContainer,
#favoritesContainer,
#history {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 30px;
  justify-content: center;
}

.trending {
  font-size: 30px;
  text-shadow: 2px -2px 2px tan;
}
.trending i {
  padding: 15px;
  color: aquamarine;
}

/* Giphy details */

.divDetails {
  display: none;
  height: 250px;
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(32, 30, 30, 0.547);
  border: 3px solid black;
  z-index: 1000000;
  backdrop-filter: blur(10px);

  font-size: 18px;
  border: none;
  border-radius: 35px;
  color: rgb(95, 191, 255);
  box-shadow: 2px 2px 8px rgb(131, 7, 248);
}
.divDetails img {
  float: left;
  width: 250px;
  height: 250px;
  padding-right: 15px;
}

.divDetails h3 {
  text-align: center;
  color: rgb(26, 156, 243);
  text-shadow: 3px 3px 2px black;
}

#name {
  font-weight: bold;
  color: rgb(190, 19, 237);
  font-size: 22px;
}

#rating {
  font-weight: bold;
  color: rgb(190, 19, 237);
  font-size: 22px;
}

.divDetails a {
  text-decoration: none;
  color: rgb(95, 191, 255);
  cursor: pointer;
}

/* favorites */
.favorite {
  color: rgb(189, 108, 171);
  cursor: pointer;
  position: fixed;
  font-size: 90px;
  top: 1.7em;
  right: 0.7em;
}
span.favorite.active {
  color: rgb(255, 0, 149);
}

span.favorite:hover {
  color: rgba(255, 0, 149, 0.472);
}

/* search form */
#searchForm {
  display: flex;
  width: 60%;
}
/* search input */
#search {
  color: #8707ff;
  border: 2px solid #8707ff;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  font-size: 20px;
  flex: 1;
  max-width: 700px;
}

#search:active {
  box-shadow: 2px 2px 15px #8707ff inset;
}

#e {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 33px;
  color: #8a8686a2;
  text-shadow: 3px 3px 3px black;
}

/* button style*/
.btn {
  --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
  --border-width: 0.125em;
  --curve-size: 0.5em;
  --blur: 30px;
  --bg: #080312;
  --color: #afffff;
  color: var(--color);
  cursor: pointer;
  /* use position: relative; so that BG is only for .btn */
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: 0.5em 1.5em;
  font-size: 17px;
  border: 0;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  clip-path: polygon(
    /* Top-left */ 0% var(--curve-size),
    var(--curve-size) 0,
    /* top-right */ 100% 0,
    100% calc(100% - var(--curve-size)),
    /* bottom-right 1 */ calc(100% - var(--curve-size)) 100%,
    /* bottom-right 2 */ 0 100%
  );
  transition: color 250ms;
}

.btn::after,
.btn::before {
  content: "";
  position: absolute;
  inset: 0;
}

.btn::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%;
  }

  50% {
    background-position: 70% 100%;
  }

  100% {
    background-position: 31% 0%;
  }
}

.btn::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
    /* Top-left */ var(--border-width)
      calc(var(--curve-size) + var(--border-width) * 0.5),
    calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */ var(--border-width) calc(100% - var(--border-width))
  );
  transition: clip-path 500ms;
}

.btn:where(:hover, :focus)::after {
  clip-path: polygon(
    /* Top-left */ calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - var(--border-width)) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width))
  );
  transition: 200ms;
}

.btn:where(:hover, :focus) {
  color: #fff;
}

/* favorites and upload */

#uploadNav {
  padding-left: 50px;
}

#favorites {
  padding-right: 50px;
}

/* Search container */

#allGifsContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 30px;
  justify-content: center;
}

#gifContainer img {
  width: 300px;
  height: 300px;
  cursor: pointer;
  border-radius: 11px;
}

/* upload form */

#myUploadForm, #complete {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 190px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 25px;
  background-color: #13121269;
  border-radius: 15px;
  box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.551);
  align-items: center;
}

#myUploadForm label {
  padding-bottom: 7px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  color: rgb(117, 53, 108);
  font-size: 27px;
}

#file {
  padding: 16px;
  margin-bottom: 20px;
  border: none;
  background-color: rgb(102, 64, 97);
  border-radius: 25px;
  width: 30%;
  cursor: pointer;
}

.btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  overflow: hidden;
  height: 3rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),
    linear-gradient(
      137.48deg,
      #ffdb3b 10%,
      #fe53bb 45%,
      #8f51ea 67%,
      #0044ff 87%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

strong {
  z-index: 2;
  font-family: "Avalors Personal Use";
  font-size: 12px;
  letter-spacing: 5px;
  color: #ffffff;
  text-shadow: 0 0 4px white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.btn2:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn2:hover {
  transform: scale(1.1);
}

.btn2:active {
  border: double 4px #fe53bb;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn2:active .circle {
  background: #fe53bb;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/* footer */
footer {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #ccc;
  bottom: 0;
  border-top: 1px solid #cccccc5b;
}

/* favorites container */
#favoritesContainer,
#history {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 30px;
  /* justify-content: center; */
}

/* About */

#aboutContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}

.card {
  width: 300px;
  height: 360px;
  border-radius: 2em;
  padding: 30px;
  background-color: rgba(60, 41, 52, 0.42);
  box-shadow: 5px 5px 30px rgb(4, 4, 4), -5px -5px 30px rgb(57, 57, 57);
}

.profileimage {
  background-color: transparent;
  border: none;
  width: 150px;
  height: 170px;
}

.profileimage img {
  border-radius: 90px;
  height: 170px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pfp {
  border-radius: 35em;
  fill: white;
}

.Name {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 15px;
  font-size: 20px;
  margin-top: 10px;
}

.socialbar {
  background-color: #191919;
  border-radius: 3em;
  width: 90%;
  padding: 14px;
  margin-top: 35px;
  color: white;
  box-shadow: 3px 3px 15px rgb(0, 0, 0), -3px -3px 15px rgb(58, 58, 58);
}

.card a {
  transition: 0.4s;
  color: white;
}

#github:hover {
  color: #c9510c;
}

#instagram:hover {
  color: #d62976;
}

#facebook:hover {
  color: #3b5998;
}

#twitter:hover {
  color: #00acee;
}

/* history */

#deleteUploadedGif {
  color: white;
  text-decoration: none;
  font-size: 25px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

#deleteUploadedGif::before {
  margin-left: auto;
}

#deleteUploadedGif::after,
#deleteUploadedGif::before {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  transition: 0.5s;
}

#deleteUploadedGif:hover::after,
#deleteUploadedGif:hover::before {
  width: 100%;
}

#historyText {
  text-align: center;
  font-size: 33px;
  padding-top: 15px;
  color: rgba(203, 201, 201, 0.636);
  text-shadow: 3px 3px 3px black;
}
/* upload */
.spinner {
  position: fixed;
  top: 40%;
  left: 50%;
  width: 125px;
  height: 125px;
  background-color: white;
  background-image: url("./running-man.gif");
  background-size: 100% 100%;
  border: 14px solid rgba(9, 245, 135, 0.1);
  border-left-color: red;
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}